[user]
	name = jiunian
	email = jiunianwa@outlook.com
[core]
	editor = vim
[color]
	ui = true
[alias]
	graph = log --all --graph --decorate --oneline
[url "https://"]
    insteadOf = git://
[http]
    sslVerify = false
[url "git@github.com:"]
    insteadOf = git://github.com/
[url "https://github.com/"]
    insteadOf = git://github.com/
